<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
  <h1>회원가입 페이지</h1>
<hr/>
<form action="/join" method="post">
  <input type="text" name="loginId" placeholder="아이디" /> <br/>
  <input type="password" name="pwd" placeholder="비밀번호" /> <br/>
  <input type="text" name="email" placeholder="email" /> <br/>
  <input type="text" name="name" placeholder="이름" /> <br/>
  <input type="text" name="phone" placeholder="핸드폰번호(01012341234)" /> <br/>
  <input type="date" name="birth" /> <br/>
  <select name="sex">
  <option value="M">남자</option>
  <option value="F">여자</option>
  </select>
 
  <button>회원가입</button>
</form>
</body>
</html>